@use './components/colors' as *;

.main {
	.location {
		width: 100%;
		text-align: center;

		&__map {
			position: relative;
			height: 700px;
			iframe {
				width: 100%;
				height: 100%;
			}
		}
	}


}

