@use '../components/colors' as *;
@media (min-width: 992px) {
	.hamburger {
		display: none;
	}

	.info {
		border-bottom: 1px solid $border-color-on-light;
		&__boxes {
			display: flex;
			justify-content: space-between;
			top: 0;
			left: 0;
			padding: 1.3em 2em;
			max-width: 2000px;
		}

		&__text {
			display: inline-block;
			color: $text-color-info;
			font-size: 1.6rem;
		}

		&__icon {
			margin-right: 0.2em;
			color: $main-color;
			font-size: 1.6rem;
		}

		&__span {
			margin-left: 0.2em;
			font-weight: 500;
			color: $main-color;
		}
	}

	.nav {
		padding: 1em 2em 1em 2em;
		border-bottom: 1px solid #ced1d6;

		&__logo {
			height: 80px;
			width: 164px;
		}

		&__desktop {
			display: flex;
			align-items: center;

			&__list {
				display: flex;
			}

			&__item {
				list-style: none;
			}

			&__item a {
				position: relative;
				padding: 0.5em;
				margin: 0 0.5em;
				font-size: 1.6rem;
				letter-spacing: 2px;
				text-transform: uppercase;
				text-decoration: none;
				font-weight: 400;
				color: $desktop-item-color;
				z-index: 10;

				&::after,
				&::before,
				& {
					transition: transform 0.3s;
				}

				&:hover {
					color: $main-color;
				}

				&::after,
				&::before {
					content: '';
					position: absolute;
					width: 0;
					bottom: 0;
					border-bottom: 2px solid $main-color;
					transition: 0.3s;
				}

				&::after {
					left: 50%;
				}

				&::before {
					right: 50%;
				}

				&:hover::before,
				&:hover::after {
					width: 50%;
				}
			}
		}

		&__reservation {
			display: block;

			a {
				padding: 1em;
				border: none;
				border-radius: 25px;
				background-color: $main-color;
				color: $text-color-on-dark;
				font-weight: 300;
				letter-spacing: 2px;
				text-decoration: none;
				transition: background-color 0.3s;

				&:hover {
					background-color: $main-color-hover;
					transform: scale(5);
				}
			}

			i {
				margin-right: 0.3em;
			}
		}

		&__box {
			position: absolute;
			top: 112px;
			left: 0;
			right: 0;
			width: 100%;
			height: 450px;
			padding: 2em;
			justify-content: center;
			background-color: white;
			border-bottom: 1px solid $border-color-on-light;
			border-top: 1px solid $border-color-on-light;
			z-index: 10;
		}

		// &__box__img {
		//   position: absolute;
		//   top: 0;
		//   left: 0;
		//   height: 100%;
		//   width: 100%;
		//   opacity: 1;
		//   background-position: center;
		//   background-size: cover;
		//   z-index: 1;

		//   &--women {
		//     background-color: white;
		//   }

		//   &--men {
		//     background-color: white;
		//   }
		// }

		// &__box__shadow {
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	height: 100%;
		// 	width: 100%;
		// 	opacity: 0.6;

		// 	z-index: 2;
		// }

		&__box__content {
			flex: 1;
			max-width: 900px;
			position: relative;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			text-align: center;
			margin: 0 1em;
			opacity: 1;
			color: $text-color-on-light;
			z-index: 100;

			div {
				align-items: flex-start;
				display: flex;
				flex-direction: column;
			}
		}

		&__box__item {
			text-align: left;
			padding: 0.5em;
			width: 80%;
			height: 55px;
			margin: 0.5em 0;
			text-decoration: none;
			color: $text-color-on-light;
			transition: color 0.3s;
			border-bottom: 1px solid $border-color-on-light;

			&:hover {
				color: $main-color-hover;
			}

			i {
				color: $main-color;
				font-size: 2rem;
				margin-right: 0.3em;
			}
		}

		&__box__title {
			grid-column: 1/-1;
			height: 70px;
			font-size: 2.3rem;

			font-weight: 500;
			border-bottom: 2px solid $main-color;
		}

		.form {
			padding: 3em;
			grid-column: 1/3;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: 10px;

			&__heading {
				grid-column: 1/-1;
				font-size: 3rem;
			}

			&__group {
				grid-column: 1/-1;

				&--left {
					grid-column: 1/3;
				}

				&--right {
					grid-column: 3/-1;
				}
			}

			&__group-title {
				font-size: 1.5rem;
			}
			&__group-input {
				padding: 1.2em 0.5em;
			}

			&__btn {
				grid-column: 2/5;
				padding: 1em;
				width: 70%;
			}
		}

		footer {
			hr {
				display: none;
			}
			&__boxes {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				align-items: flex-start;
				justify-content: center;
				height: 200px;
			}

			&__box {
				justify-content: flex-start;
			}

			&__box-link {
				letter-spacing: 1px;
			}
			&__box-title {
				margin-bottom: 0.6em;
			}

			&__box-project {
				padding-top: 1.5em;
				border-top: 1px solid $border-color-on-dark;
			}
		}
	}

	.header {


		&__img {
			background-size: cover;
			background-position: center;

			&--header-women {
				background-image: url('../img/header2.jpg');
			}
		}

		&__heading {
			font-size: 5rem;
		}
		&__text {
			font-weight: 400;
			letter-spacing: 2px;
			font-size: 2.4rem;
		}

		&__nav {
			padding: 1.5em 3em;
	
		}
	}

	.main {
		.contact {
			.form {
				padding: 3em;
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 10px;

				&__heading {
					grid-column: 1/-1;
					font-size: 3rem;
				}

				&__group {
					grid-column: 1/-1;

					&--left {
						grid-column: 1/3;
					}

					&--right {
						grid-column: 3/-1;
					}
				}

				&__group-title {
					font-size: 1.5rem;
				}
				&__group-input {
					padding: 1.2em 0.5em;
				}

				&__btn {
					grid-column: 2/5;
					padding: 1em;
					width: 70%;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		&__desktop {
			&__item a {
				font-size: 1.8rem;
			}
		}

		&__box__content {
			margin: 0 4em;
		}
		&__box__item {
			letter-spacing: 1px;
		}
		&__box__title {
			height: none;
		}

		&__reservation a {
			padding: 0.8em 1.5em;
			font-size: 1.6rem;
		}
	}

	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&__boxes {
			max-width: 1200px;
			min-width: 1200px;
		}
	}
}

@media (min-width: 1400px) {
	.info {
		&__boxes {
			padding: 1.3em 4em;
		}
	}

	.nav {
		padding: 1em 4em;

		&__desktop {
			&__item a {
				margin: 0 1em;
				letter-spacing: 3px;
			}
		}

		&__reservation a {
			padding: 1em 2em;
		}
	}
}

@media (min-width: 1800px) {
}
