@use '../components/colors' as *;
@media (min-width: 992px) {
	.hamburger {
		display: none;
	}

	.info {
		border-bottom: 1px solid rgba(0, 0, 0, 0.142);

		&__boxes {
			display: flex;
			justify-content: space-between;
			top: 0;
			left: 0;
			padding: 1.3em 2em;
			max-width: 2000px;
		}

		&__text {
			display: inline-block;
			color: $color-info;
			font-size: 1.6rem;
		}

		&__icon {
			margin-right: 0.2em;
			color: $main-color;
			font-size: 1.6rem;
		}

		&__span {
			font-weight: 500;
			color: $main-color;
		}
	}

	.nav {
		padding: 1.5em 2em;

		&__img {
			width: 250px;
		}

		&__desktop {
			display: flex;
			align-items: center;

			&__list {
				display: flex;
			}

			&__item {
				list-style: none;
			}

			&__item a {
				position: relative;
				padding: 0.5em;
				margin: 0 0.5em;
				font-size: 1.6rem;
				letter-spacing: 2px;
				text-transform: uppercase;
				text-decoration: none;
				font-weight: 300;
				color: $color-item-nav;
				z-index: 10;

				&::after,
				&::before,
				& {
					transition: transform 0.3s;
				}

				&:hover {
					color: $main-color;
				}

				&::after,
				&::before {
					content: '';
					position: absolute;
					width: 0;
					bottom: 0;
					border-bottom: 2px solid $main-color;
					transition: 0.3s;
				}

				&::after {
					left: 50%;
				}

				&::before {
					right: 50%;
				}

				&:hover::before,
				&:hover::after {
					width: 50%;
				}
			}
		}

		&__reservation {
			display: block;

			a {
				padding: 1em;
				border: none;
				border-radius: 25px;
				background-color: $main-color;
				color: $color-item;
				font-weight: 300;
				letter-spacing: 2px;
				text-decoration: none;
				transition: background-color 0.3s;

				&:hover {
					background-color: $main-color-dark2;
				}
			}

			i {
				margin-right: 0.3em;
			}
		}

		&__box {
			position: absolute;
			top: 90px;
			left: 0;
			right: 0;
			width: 100%;
			height: 450px;
			padding: 2em;
			justify-content: center;
			background-color: #f8f8f8;
			z-index: 10;
		}

		&__box__img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			opacity: 1;
			background-position: center;
			background-size: cover;
			z-index: 1;

			&--women {
				background-image: url('../img/nav-women.jpg');
			}

			&--men {
				background-image: url('../img/nav-men.jpg');
			}
		}

		&__box__shadow {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			opacity: 0.6;
			background-color: rgba(0, 0, 0, 0.977);
			z-index: 2;
		}

		&__box__content {
			flex: 1;
			max-width: 650px;
			position: relative;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			text-align: center;
			margin: 0 1em;
			opacity: 1;
			color: dark;
			color: white;
			z-index: 100;

			div {
				align-items: flex-start;
				display: flex;
				flex-direction: column;
			}
		}

		&__box__item {
			text-align: left;
			padding: 0.5em;
			margin: 0.5em 0;
			text-decoration: none;
			color: white;
			transition: color 0.3s;

			&:hover {
				color: $main-color-light;
			}

			i {
				color: $main-color-light-2;
				font-size: 2rem;
				margin-right: 0.3em;
			}
		}

		&__box__title {
			grid-column: 1/-1;
			height: 70px;
			margin-bottom: 1em;
			border-bottom: 2px solid $main-color-light-2;
		}

		.form {
				padding: 3em;
				grid-column: 1/3;
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 10px;

				&__heading {
					grid-column: 1/-1;
					font-size: 3rem;
				}

				&__group {
					grid-column: 1/-1;


					&--left {
						grid-column: 1/3;
					}

					&--right {
						grid-column: 3/-1;
					}
				}

				&__group-title{
					font-size: 1.5rem;
				}
				&__group-input{
					padding: 1.2em 0.5em;
				}

				&__btn {
					grid-column: 2/5;
					padding: 1em;
					width: 70%;
				}
			}
	}

	.header {
		&__img {
			background-size: none;

			&--header-women {
				background-image: url('../img/header-woman-desktop.jpg');
			}
		}

		&__heading {
			font-size: 5rem;
		}
		&__text {
			font-weight: 400;
			letter-spacing: 2px;
			font-size: 2.4rem;
		}

		&__nav {
			padding: 1.5em 3em;
		}
	}

	.main{
		.contact{

			.form {
				padding: 3em;
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 10px;

				&__heading {
					grid-column: 1/-1;
					font-size: 3rem;
				}

				&__group {
					grid-column: 1/-1;


					&--left {
						grid-column: 1/3;
					}

					&--right {
						grid-column: 3/-1;
					}
				}

				&__group-title{
					font-size: 1.5rem;
				}
				&__group-input{
					padding: 1.2em 0.5em;
				}

				&__btn {
					grid-column: 2/5;
					padding: 1em;
					width: 70%;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		&__img {
			width: 300px;
		}

		&__desktop {
			&__item a {
				font-size: 1.8rem;
			}
		}

		&__box {
			top: 100px;
		}

		&__box__content {
			margin: 0 4em;
		}
		&__box__item {
			letter-spacing: 1px;
		}
		&__box__title {
			height: none;
		}

		&__reservation a {
			padding: 1em 1.5em;
			font-size: 1.6rem;
		}
	}
}

@media (min-width: 1400px) {
	.info {
		&__boxes {
			padding: 1.3em 4em;
		}
	}

	.nav {
		padding: 1.5em 4em;

		&__desktop {
			&__item a {
				margin: 0 1em;
				letter-spacing: 3px;
			}
		}

		&__reservation a {
			padding: 1em 2em;
		}
	}
}

@media (min-width: 1800px) {
}
