@media (min-width: 768px) {
	.nav {
		padding: 1em 1em 1em 3em;

		&__logo {
			height: 70px;
			width: 144px;
		  }
		
	}

	.header {
		&__heading {
			margin-bottom: 1em;
		}

		&__text {
			letter-spacing: 2px;
			font-size: 2.4rem;
		}
	}

	.main {
		.offers {
			justify-content: space-between;

			&__box {
				padding: 2em 1em;
				flex-basis: calc(33.33% - 20px);
			}
		}

		.expertise {
			&__heading {
				font-size: 2.4rem;
			}

			&__boxes {
				display: flex;
			}

			&__boxes-box {
				margin: 1em 1em;
			}

			&__btn {
				padding: 1.5em 0;
				margin-top: 3em;
			}
		}

		.contact {
			padding: 6em 4em;
			&__bgimg {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0.2;
				background-position: center;
				background-size: cover;
				background-image: url('../img/bg-contact.jpg');
				z-index: -1;
			}

			&__boxes {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 20px;
			}

			&__info {
				padding: 3em 2em;
				margin-top: 0;
				grid-column: 3/-1;
				border-left: 1px solid $border-color-on-light;
				border-bottom-left-radius: 0;
				border-top-right-radius: 15px;
			}

			&__info-box {
				align-items: flex-start;
				flex-direction: row;
			}

			&__info-icon {
				display: block;
				margin-top: 0;
				margin-bottom: 0;
				margin-right: 0.5em;
			}

			&__info-place {
				text-align: left;
			}

			&__info-description {
				line-height: 1.5;
			}

			.form {
				grid-column: 1/3;
				padding: 3em;

				&__heading {
					font-size: 3rem;
				}

				&__group-title {
					font-size: 1.5rem;
				}
				&__group-input {
					padding: 1.2em 0.5em;
				}

				&__btn {
					padding: 1em;
					width: 70%;
				}
			}
		}
	}
	.footer {
		padding: 1em 0em 0.1em 0em;

		hr {
			display: none;
		}
		&__boxes {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			align-items: flex-start;
			justify-content: center;
			height: 155px;
		}

		&__box {
			justify-content: flex-start;
		}

		&__box-link {
			letter-spacing: 1px;
		}
		&__box-title {
			margin-bottom: 0.6em;
		}

		&__box-project {
			padding-top: 1.5em;
			border-top: 1px solid $border-color-on-dark;
		}
	}
}
