$bgc-menu-mobile: rgba(0, 0, 0, 0.94);
$main-color: #d19648;
$main-color-light: #c77f22;
$main-color-light-2: #fffaf4;
$main-color-dark:  #d4ab80;
$main-color-dark-2: rgb(141, 90, 35);

$main-color-hover:#c77f22;
$main-color-hover-on-dark:#292929;

$text-color-on-dark: #fff;
$text-color-on-light: #141414;;
$text-color-info: #707b8e;

$border-color-on-light: #ced1d6;// #bdb8b8
$border-color-on-dark: #ced1d6;

$mobile-item-color: #fff;
$desktop-item-color: #141414;

$header-heading-color: #000000;

$bgc-color-offers-box: #fbf9f9;
$bgc-color-offers-form: #fbf9f9;

