$bgc-color: #ffffff;
$bgc-menu-mobile: rgba(0, 0, 0, 0.94);
$color-item: #fff;
$color-item-nav: #000000;
$close-btn: #fff;
$color-info: #707b8e;
$main-color: #91157e;
$main-color-light: #ea7dee;
$main-color-light-2: #f682fa;
$main-color-dark: #65195e;
$main-color-dark2: #a91993;
$header-heading: #000000;
$header-text: #e747ed;
$text-color: #141414;
$text-color2: #707B8E;